  allow_envfrom_empty = true;
  allow_hdrfrom_mismatch = false;
  allow_hdrfrom_multiple = false;
  allow_username_mismatch = false;
  selector = "hackers1995";
  sign_authenticated = true;
  sign_local = true;
  symbol = "DKIM_SIGNED";
  try_fallback = true;

  use_domain = "header";

  use_esld = true;
  use_redis = false;

  #path = "/var/lib/rspamd/dkim/$selector.$domain.key";

  domain {
{% for dkim_domain in dkim_domains %}
    {{ dkim_domain }} {
      selectors [
        {
          path = "/var/lib/rspamd/dkim/hackers1995.{{ dkim_domain }}.key";
          selector = "hackers1995";
        }
      ]
    }
{% endfor %}
  }
